{% assign all_tags = site.tags | size %}
<h3>
  <a href="{{absolute_url}}/categories/index.html">Categories</a>
</h3>
<div class="tagCloud">
  <ul>
  {%for tag in site.categories %}
  {% assign category_name = tag | first %}
  {% assign cat_count = tag | last | size %}
  {% assign cat_avg = cat_count | div: all_tags %}
  <li>
  <span class="tag">
      <a href="{{absolute_url}}/categories/{{ category_name | downcase}}/index.html">{{ category_name }}({{ cat_count }})</a>
  </span>
  </li>
  {% endfor %}
  </ul>
</div>
